<%
var headers = req.headers;
var ip = headers['x-real-ip'] || req.ip || '0.0.0.0';
var browser = headers['user-agent'] || 'Inconnu';
var geo = geoip.lookup(ip);
var country = geo ? geo.country: 'Inconnu';
var region = geo ? geo.region: 'Inconnu';
%>
<section class="views-margin-top hero is-primary">
    <div class="hero-body">
        <div class="container is-large">
            <h1 class="title">Mon IP</h1>
            <h2 class="subtitle">Affiche votre IP et d'autres informations</h2>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="/">
                        <span class="icon is-small">
                            <i class="fas fa-home" aria-hidden="true"></i>
                        </span>
                        <span>Accueil</span>
                    </a>
                </li>
                <li class="is-active">
                    <a href="#">
                        <span class="icon is-small">
                            <i class="fas fa-network-wired" aria-hidden="true"></i></i>
                        </span>
                        <span>Mon IP</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>
<section class="container margin-top-15">
    <div class="box">
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p><strong>IP:</strong> <%= ip %></p>
                    <p><strong>Navigateur:</strong> <%= browser %></p>
                    <p><strong>Pays:</strong> <%= country %></p>
                    <p><strong>Région:</strong> <%= region %></p>
                </div>
            </div>
        </article>
    </div>
</section>
<%- contentFor('pageTitle') %>Mon IP